html,
body {
  padding: 0;
  margin: 0;
}

@font-face{
  src: url('../DP_trial_111617/DP_roobert_TRIAL/RoobertTRIAL-Bold.otf');
  font-family: 'Roobert-bold';
}

@font-face{
  src: url('../DP_trial_111617/DP_roobert_TRIAL/RoobertTRIAL-Regular.otf');
  font-family: 'Roobert-regular';
}

@font-face{
  src: url('../DP_trial_111617/DP_roobert_TRIAL/RoobertTRIAL-Light.otf');
  font-family: 'Roobert-light';
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
